name: Build Windows and macOS App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-mac:
    name: Build macOS App
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build macOS app
        run: |
          pyinstaller --windowed --onefile w1te_macro.py/w1te_macro.py

      - name: Upload macOS App
        uses: actions/upload-artifact@v4
        with:
          name: W1teMacro-macOS
          path: dist/

  build-windows:
    name: Build Windows EXE
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build Windows exe
        run: |
          pyinstaller --noconsole --onefile w1te_macro.py/w1te_macro.py

      - name: Upload Windows EXE
        uses: actions/upload-artifact@v4
        with:
          name: W1teMacro-Windows
          path: dist/
